@model FrontendEcom.Models.LoginData

@{
                
                    ViewBag.Title = "LogIn";
                    // Layout = "~/Views/Shared/_Layout.cshtml";
                    }

                    <h2>LogIn</h2>
                    <head>
                        <link rel="stylesheet" href="~/css/LoginUser.css" />
                    </head>
<div class="row justify-content-md-center">
    @using (Html.BeginForm())
    {
@Html.ValidationSummary(true, "Login Failed, check details");
<div>
    <fieldset>
        @*<h2>LogIn</h2>*@
        @*<legend>LogIn</legend>*@
        <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)
        </div>
        <div class="editor-label">@Html.LabelFor(u => u.Upassword)</div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.Upassword)
            @Html.ValidationMessageFor(u => u.Upassword)
        </div> <br />
        <input type="submit" value="Log In" />
    </fieldset>
    <p>
        @Html.ActionLink("Create New Account", "RegisterUser")
    </p>
    
</div>}
    </div>




